body {
    background-color: gray;
    
}

.box {
    margin: 50px auto;
    padding: 20px;
    width: 600px;
    height: 680px;
    border: 50px solid;
    border-image: url(./border-image\ .png)stretch;
    border-image-slice: 25%;
    border-image-repeat: repeat;


}

p {
    min-width: 200px;
    text-align: left;
    min-height: 100px;
    max-height: 200px;
    padding: 5px;
    margin: 0px;
    overflow: scroll;
}

p {
    text-align: center;
}